.banner {
    height: 720px;
    background-image: url('https://via.placeholder.com/1500x720');
    background-color: transparent; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
    max-width: 100%;  
    margin: 0;      
    padding: 0
  }
  
 
  .quote_box {
    position: absolute;
    top: 50%;  
    transform: translateY(-50%); 
    width: 80%; 
    max-width: 450px;
    height: 450px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10%;
    left: 1000px;
    z-index: 10;

  }
  
  
  .quote {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px; 
  }
  
  
  .quote_box button {
    background-color: #f59b2c; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position:absolute; 
    bottom: 20px; 
    right: 20px; 
  }

  @media (max-width: 768px) {
    .quote_box {
      width: 90%; 
      max-width: 350px; 
      font-size: 18px; 
      right: 5%; 
    }
  
    .quote_box button {
      font-size: 14px; 
      padding: 8px 16px; 
    }
  }
  
  @media (max-width: 480px) {
    .quote_box {
      width: 95%; 
      max-width: 300px; 
      font-size: 16px; 
      right: 2%; 
    }
  
    .quote_box button {
      font-size: 12px; 
      padding: 6px 12px; 
    }
  }

    



  
  
  
  .quote_box button:hover {
    background-color: #d88b2d; 
  }

